 <div id="typingText"></div>
<div id="hidden">
  <form id="my-form">
    <h1>Create an Account</h1>
    <div class="msg"></div>
    <div>
      <label for="name">First Name:</label>
      <input type="text" id="firstname">
    </div>
    <div>
      <label for="name">Last Name:</label>
      <input type="text" id="lastname">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password">
    </div class="right">
    <input class="btn" type="submit" value="Submit">
  </form>
</div>

<script >
    requestAnimationFrame(typer);
    
var words = `
 give me your identity... hehe`;

const leftChar = ">";
const textContainer = document.getElementById('typingText');
const speed = 70;
var startTime;
var lastCharPos;
var currentLine;

for (let i = 0; i < 5; i++) {
  textContainer.appendChild(Object.assign(document.createElement("div"), {
    className: "typed--typed-text",
    textContent: ""
  }));
}
// removes top line, clears it and adds to bottom of container
function newLine() {
  currentLine = textContainer.querySelector(".typed--typed-text");
  textContainer.removeChild(currentLine);
  textContainer.appendChild(currentLine);
  currentLine.textContent = leftChar;
}


function typer(time) {
  var str = "";
  if (startTime === undefined) {
    newLine();
    startTime = time;
    lastCharPos = 0;
  }

  // 1 in 20 characters are 50ms faster
  //if (Math.random() < 0.05) { startTime -= 50 }

  var charPos = (time - startTime) / speed | 0;
  while (lastCharPos <= charPos) {
    const char = words[(lastCharPos++) % words.length];
    if (char === "\n") {
      currentLine.textContent += str;
      str = "";
      newLine();
    } else if (char === "<") {
      const text = currentLine.textContent;
      currentLine.textContent = text.substring(0,text.length-1);
    } else {
      str += char;
    }
  }
  currentLine.textContent += str;
  if (charPos < words.length -1) {
       requestAnimationFrame(typer);
    } else{
        document.getElementById("hidden").style.display = "block";
    }
}
</script>
