
<span > 
    <h1>> hi, i'm rory!</h1>
</span>

<p> i'll be showing you some of these inkblot paintings i made.</p>
<p> based on your responses, i'll connect you with a compatible friend.</p>
<div class="right">
    <button class="start button" onclick="window.location.href='/inkblot';">get started</button>    
</div>

<script src='../js/w2v.js' type='text/javascript'></script>
<script >
    import Typewriter from "typewriter-effect/dist/core";
    import GraphemeSplitter from "grapheme-splitter";

    const app = document.getElementById("app");

    const stringSplitter = string => {
    const splitter = new GraphemeSplitter();
    return splitter.splitGraphemes(string);
    };

    const typewriter = new Typewriter(app, {
    loop: true,
    delay: 75,
    stringSplitter
    });

    typewriter
    .pauseFor(2500)
    .typeString("🌷A simple yet powerful native javascript")
    .pauseFor(300)
    .deleteChars(10)
    .typeString("<strong>JS</strong> plugin for a cool typewriter effect and ")
    .typeString(
        '<strong>only <span style="color: #27ae60;">5kb</span> Gzipped!</strong>'
    )
    .pauseFor(1000)
    .start();
</script>
