<div class="panel-body">
     <form id="my-form" method="post" action="/login">
        <h1>Create an Account</h1>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" name="email" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" />
        </div>
        <div class="right">
            <div class="form-group">
                <input class="btn" type="submit" value="Submit">
            </div>
        </div>
        <div>
            Go back to
            <a href="/login">
                Login Page?
            </a>
        </div>
    </form>
</div>
